@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Cormorant|Open+Sans&display=swap');
/*

font-family: 'Cormorant', serif;
font-family: 'Open Sans', sans-serif;

*/
*{
    font-family: Arial, serif;
    //font-size: 16px;
}

.wrap__all{
 display: flex;
 flex-direction: column;
 max-width: 1280px;
 margin: 0 auto;
}

header{
    display: flex;
    border-bottom: 1px solid #4a4a49;
    padding: 10px 15px 30px;
    flex-wrap: wrap;

}

.photo{
    text-align: center;
    flex: 1 0 40%;
}

.photo__img{
    width: 50%;
    border-radius: 100%;
    
}

.description{
    flex: 1 0 60%;
    align-self: center;
    text-align: center;
}

.description__name{
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 900;
    color: #000;

}

.description__date,
.description__diagnosis{
    color: #4a4a49;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;

}
.description__diagnosis{
    font-size: 46px;
}
        
    
.content{
    padding: 20px 0 40px;
}

.photo__galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo__galery__item{
    display: flex;
    flex: 0 0 24%;
    align-items: center;
}

.photo__galery__img{
    width: 100%;
}

.fundraising{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.fundraising__title{
    font-size: 50px;
    font-weight: 800;
}
.count{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
   
    
}

.count__in__total,
.count__collected,
.count__percent{
    font-size: 40px;
    font-weight: 900;
    color: #4a4a49;
}


.count__in__total{
    flex: 1 0 50%;
}

.in__total{
    
}

#in__total{

}

.count__collected{
    flex: 1 0 50%;
}

.collected{
    
}

#collected{}

.count__percent{
    flex: 1 0 auto;
}

.percent{
    
}
#percentage__total{}


.history{
display: flex;
}

.history__text{
    color: #4a4a49;
    font-size: 25px;
    max-width: 1000px;
    margin: 0 auto;
}

.document{

}

.arrow{
    display: flex;
    margin: 20px 0;
    justify-content: center;
    
    
}

.arrow__down{
    border: 2px solid #000;
    border-radius: 100%;
    color: #4a4a49;
    cursor: pointer;
    padding: 7px;
    transform: rotate(0deg);
    transition: all 0.5s;
}

.arrow__reverce{
    transform: rotate(180deg);
}



.all__document{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
}

.document__open{
    height: auto;
}

.document_item{
    text-align: center;
    padding: 10px 0;
}

.document__img{
    //width: 100%;
    height: 100vh;
}

.requisites{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.requisites__title{
    color: #000;
    font-size: 32px;
    font-weight: 600;
    padding: 20px 0;
}

.requisites__all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.requisites__item{
    flex: 0 0 420px;
    padding: 5px 0 10px;
    white-space: pre-line; 
    font-size: 20px;
    color: #4a4a49;
}

footer{
    margin: 30px 0;
}

.social{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.social__item{
    
}

.social__link{
    font-size: 36px;
    color: #4a4a49;
}

@media (max-width: 967px){
    .history,
    .requisites
    {
        padding: 0 15px;
    }
}

@media (max-width: 767px){
    .photo__galery{
        justify-content: center;
    }

    .photo__galery__item{
        flex: 0 1 auto;
    }

    .count__in__total, 
    .count__collected, 
    .count__percent{
        font-size: 34px;
    }
}

@media (max-width: 430px){
    .description__name{
        font-size: 45px;
    }

    .description__diagnosis{
        font-size: 30px;
    }

    .document__img{
        height: auto;
        width: 100%;
    }

    .fundraising__title {
        font-size: 38px;  
    }

    .requisites__item{
        flex: 0 1 auto;
    }

    .count__in__total, 
    .count__collected, 
    .count__percent{
        
    }
    .count__in__total, 
    .count__collected{
        flex: 0 1 auto;
        padding:  7px 0;
    }

    .description__name{
        font-size: 34px;
    }

    .requisites__item{
        font-size: 18px;
    } 
}